#aboutSec{
    background: #0E0B01;
    padding: 0 5%;
    position: relative;
    height: auto;
}
:root
{
    --x : 45deg;
}
.mainH{
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    top: 5px;
}

.subH{
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 128px;
    font-weight: 900;
    color: rgba(254, 254, 254, 0.7);
    margin: 0;
    left: 0.2em;
    bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translate(1%);
    z-index: 1000;
}

#myDetails{
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 85%;
    left: 100px;
    top: -40px;
    line-height: 1.6; /* More readable line spacing */
}

.hhhh {
    position: relative;
    height: 70px;
}

#perDetails {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    left: 100px;
}

#myInter {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    left: 30em;
    top: 0;
}

#ul1 {
    list-style: none;
    color: #FFA600;
    margin-left: 150px;
    font-size: 20px;
    padding: 0;
    margin-top: 30px;
    gap: 1000px;
}

#ul1 li {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    grid-template-columns: auto 1fr;
    gap: 90px;
}

#ul1 li:nth-child(2) {
    gap: 110px;
}

#ul1 li:nth-child(3) {
    gap: 112px;
}

#ul1 li:nth-child(4) {
    gap: 95px;
}

#ul1 li:nth-child(5) {
    gap: 78px;
}

.color2 {
    color: white;
}

#imgInter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 350px;
   /* margin: 0 auto;*/
   /* position: relative;*/
    left: 390px;
    bottom: 175px;
    margin-left: 53em;


}

.flex-pic{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -10em;
}
#imgInter img {
    width: 97px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#download{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .5s;
    overflow: hidden;
    bottom: 70px;
    width: 250px;
    height: 45px;
    font-family:"Inter", sans-serif;
    border-radius: 25px;
}

#download div{
    position: absolute;
    inset: -5px;
    display: block;
    border-radius: 25px;
}

#download div,
#download div:nth-child(2){
    background: linear-gradient(var(--x), #f19b0f 0%, #d18a0f 30%, #0E0B01 50%, #d18a0f 70%, #d18a0f 100%);
}

#download div:nth-child(2){
    filter: blur(10px);
}

#download span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #0E0B01;
    border-radius: 25px;
    background: rgba(56, 29, 14, 0.45);
    overflow: hidden;
}

#download div::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.075);
}

@media screen and (max-width: 321px) {
    #aboutSec {
        padding: 0 2%;
    }

    .mainH {
        font-size: 24px;
        gap: 8px;
        top: 8px;
    }

    .subH {
        font-size: 70px;
        left: 0;
        bottom: 0.4em;
    }

    #myDetails {
        font-size: 11px;
        max-width: 85%;
        left: 0;
        right: 0;
        margin: auto;
        top: -5px;
    }

    .hhhh {
        height: 40px;
    }

    #perDetails {
        font-size: 14px;
        left: 32px;
        top: -2px;
    }

    #myInter {
        font-size: 14px;
        left: 35px;
        top: 11.5em;
    }

    #ul1 {
        margin-left: 50px;
        font-size: 13px;
        margin-top: 2px;
        gap: 0;
    }

    #ul1 li {
        gap: 4px;
    }

    #ul1 li:nth-child(1) {
        gap: 24px;
    }

    #ul1 li:nth-child(2) {
        gap: 38px;
    }

    #ul1 li:nth-child(3) {
        gap: 40px;
    }

    #ul1 li:nth-child(4) {
        gap: 28px;
    }

    #ul1 li:nth-child(5) {
        gap: 15px;
    }

    .color2 {
        color: white;
    }

    #imgInter {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 13px;
        width: 250px;
        bottom: 120px;
        margin-left: 25px; /* Center or adjust as needed */
        margin-top: 11.5em;
        margin-bottom: -1.5em;
    }

    .flex-pic {
        top: -8em;
    }

    #imgInter img {
        width: 50px;
        height: 40px;
        object-fit: cover;
    }

    .button {
        justify-content: center;
    }

    #download {
        font-size: 0.9rem;
        bottom: 35px;
        width: 160px;
        height: 30px;
    }

    #download span {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 376px) and (min-width: 321px) {
    #aboutSec {
        padding: 0 2%;
    }

    .mainH {
        font-size: 35px;
        gap: 8px;
        top: 8px;
    }

    .subH {
        font-size: 70px;
        left: 0;
        bottom: 0.2em;
    }

    #myDetails {
        font-size: 13px;
        max-width: 85%;
        left: 0;
        right: 0;
        margin: auto;
        top: -5px;
    }

    .hhhh {
        height: 40px;
    }

    #perDetails {
        font-size: 16px;
        left: 32px;
        top: -2px;
    }

    #myInter {
        font-size: 16px;
        left: 35px;
        top: 11.5em;
    }

    #ul1 {
        margin-left: 70px;
        font-size: 15px;
        margin-top: 2px;
        gap: 0;
    }

    #ul1 li {
        gap: 4px;
    }

    #ul1 li:nth-child(1) {
        gap: 24px;
    }

    #ul1 li:nth-child(2) {
        gap: 38px;
    }

    #ul1 li:nth-child(3) {
        gap: 40px;
    }

    #ul1 li:nth-child(4) {
        gap: 28px;
    }

    #ul1 li:nth-child(5) {
        gap: 15px;
    }

    .color2 {
        color: white;
    }

    #imgInter {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 13px;
        width: 250px;
        bottom: 120px;
        margin-left: 25px; /* Center or adjust as needed */
        margin-top: 11.5em;
        margin-bottom: -1.5em;
    }

    .flex-pic {
        top: -8em;
    }

    #imgInter img {
        width: 50px;
        height: 40px;
        object-fit: cover;
    }

    .button {
        justify-content: center;
    }

    #download {
        font-size: 0.9rem;
        bottom: 35px;
        width: 160px;
        height: 30px;
    }

    #download span {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 426px) and (min-width: 376px) {
    #aboutSec {
        padding: 0 2%;
    }

    .mainH {
        font-size: 35px;
        gap: 8px;
        top: 8px;
    }

    .subH {
        font-size: 70px;
        left: 0;
        bottom: 0.2em;
    }

    #myDetails {
        font-size: 13px;
        max-width: 85%;
        left: 0;
        right: 0;
        margin: auto;
        top: -5px;
    }

    .hhhh {
        height: 40px;
    }

    #perDetails {
        font-size: 16px;
        left: 32px;
        top: -2px;
    }

    #myInter {
        font-size: 16px;
        left: 35px;
        top: 11.5em;
    }

    #ul1 {
        margin-left: 70px;
        font-size: 15px;
        margin-top: 2px;
        gap: 0;
    }

    #imgInter{
        margin-top: 11.5em;
        margin-bottom: -1.5em;
    }

    #ul1 li {
        gap: 4px;
    }

    #ul1 li:nth-child(1) {
        gap: 24px;
    }

    #ul1 li:nth-child(2) {
        gap: 38px;
    }

    #ul1 li:nth-child(3) {
        gap: 40px;
    }

    #ul1 li:nth-child(4) {
        gap: 28px;
    }

    #ul1 li:nth-child(5) {
        gap: 15px;
    }

    .color2 {
        color: white;
    }

    #imgInter {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 13px;
        width: 250px;
        bottom: 120px;
        margin-left: 0; /* Center or adjust as needed */
    }

    .flex-pic {
        top: -8em;
    }

    #imgInter img {
        width: 60px;
        height: 40px;
        object-fit: cover;
    }

    .button {
        justify-content: center;
    }

    #download {
        font-size: 0.9rem;
        bottom: 35px;
        width: 160px;
        height: 30px;
    }

    #download span {
        font-size: 0.85rem;
    }
}


@media screen and (max-width: 769px) and (min-width: 426px) {
    #aboutSec {
        padding: 0 3%;
    }

    .mainH {
        font-size: 40px;
        gap: 10px;
        top: 10px;
    }

    .subH {
        font-size: 80px;
        left: 0;
        bottom: 0.3em;
    }

    #myDetails {
        font-size: 16px;
        max-width: 90%;
        left: 30px;
        top: -20px;
    }

    .hhhh {
        height: 45px;
    }

    #perDetails {
        font-size: 20px;
        left: 30px;
    }

    #myInter {
        font-size: 20px;
        left: 19em;
    }

    #ul1 {
        margin-left: 80px;
        font-size: 16px;
        margin-top: 20px;
        gap: 0;
    }

    #ul1 li {
        gap: 5px;
    }

    #ul1 li:nth-child(1) {
        gap: 26px;
    }

    #ul1 li:nth-child(2) {
        gap: 40px;
    }

    #ul1 li:nth-child(3) {
        gap: 42px;
    }

    #ul1 li:nth-child(4) {
        gap: 30px;
    }

    #ul1 li:nth-child(5) {
        gap: 17px;
    }


    .color2 {
        color: white;
    }

    #imgInter {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        width: 280px;
        bottom: 130px;
        margin-left: 24em;
    }

    .flex-pic {
        top: -8.5em;
    }

    #imgInter img {
        width: 65px;
        height: 45px;
        object-fit: cover;
    }

    .button {
        justify-content: center;
    }

    #download {
        font-size: 1rem;
        bottom: 40px;
        width: 180px;
        height: 35px;
    }

    #download span {
        font-size: 0.9rem;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    #aboutSec {
        padding: 0 3%;
    }

    .mainH {
        font-size: 48px;
        gap: 15px;
        top: 0;
    }

    .subH {
        font-size: 96px;
        left: 0.1em;
        bottom: 0.4em;
    }

    #myDetails {
        font-size: 18px;
        max-width: 90%;
        left: 50px;
        top: -30px;
    }

    .hhhh {
        height: 50px;
    }

    #perDetails {
        font-size: 24px;
        left: 50px;
    }

    #myInter {
        font-size: 24px;
        left: 24em;
    }

    #ul1 {
        margin-left: 100px;
        font-size: 18px;
        margin-top: 25px;
        gap: 0;
    }

    #ul1 li {
        gap: 70px;
    }


    #ul1 li:nth-child(1) {
        gap: 92px;
    }

    #ul1 li:nth-child(5) {
        gap: 80px;
    }


    .color2 {
        color: white;
    }

    #imgInter {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        width: 300px;
        left: 290px;
        bottom: 140px;
        margin-left: 35em;
    }

    .flex-pic {
        top: -9.5em;
    }

    #imgInter img {
        width: 80px;
        height: 60px;
    }

    .button {
        justify-content: center;
    }

    #download {
        font-size: 1.2rem;
        bottom: 50px;
        width: 200px;
        height: 40px;
    }

    #download span {
        font-size: 1rem;
    }
}




