
body{
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    background: #150C00;
    position: relative;
    width: 100%;
    top: 35px;
    z-index: 1000;
}

#nav{
    height: fit-content;
    position: absolute;

    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

#nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 15px;
}

#nav a.active ,
#nav a:hover{
    background: #FFA600;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}

#Name{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15vh;
    margin: auto;
    height: fit-content;
    font-family: "Inter", sans-serif;
    font-size: 2em;
    color: white;
}

.color{
    color: #FFA600;
}

#hello{
    font-family: "Kaushan Script", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    left: 100px;
    position: relative;
    line-height: 0.3cm;
    top: 70px;
}

#welcome{
    font-family: "Kaushan Script", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 128px;
    position: relative;
    left: 75px;
    line-height: 1cm;
    top: 70px;
}

#iam{
    font-family: "Jacques Francois", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 64px;
    left: 100px;
    position: relative;
    line-height: 0.3cm;
    top: 70px;
}

#still{
    font-family: "Jacques Francois", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    left: 100px;
    position: relative;
    line-height: 0.3cm;
    top: 70px;
}

#industry{
    font-family: "Jacques Francois", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    left: 100px;
    position: relative;
    line-height: 0.3cm;
    top: 70px;
}

#welcomeSec{
    height: 100vh;
    background: linear-gradient(to top right, #150C00 50%, #AC715B 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: relative;
}

#content {
    color: white;
    max-width: 50%;
}

#img{
    position: absolute;
    width: 500px;
    height: 600px;
    left: 60vw;
    top: 65px;
}

.socialIcons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;

    max-width: fit-content;
    margin-left: 95px;
    padding-top: 90px;
}

.socialIcons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#aboutSec{
    background: #0E0B01;
    padding: 0 5%;
    position: relative;
    height: auto;
}

.mainH{
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    top: 5px;
}

.subH{
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 128px;
    font-weight: 900;
    color: rgba(254, 254, 254, 0.7);
    margin: 0;
    left: 0.2em;
    bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translate(1%);
    z-index: 1;
}

#myDetails{
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 85%;
    left: 100px;
    top: -40px;
}

.hhhh {
    position: relative;
    height: 70px;
}

#perDetails {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    left: 100px;
}

#myInter {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    left: 30em;
    top: 0;
}

#ul1 {
    list-style: none;
    color: #FFA600;
    margin-left: 150px;
    font-size: 20px;
    padding: 0;
    margin-top: 30px;
    gap: 1000px;
}

#ul1 li {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    grid-template-columns: auto 1fr;
    gap: 90px;
}

#ul1 li:nth-child(2) {
    gap: 110px;
}

#ul1 li:nth-child(3) {
    gap: 112px;
}

#ul1 li:nth-child(4) {
    gap: 95px;
}

#ul1 li:nth-child(5) {
    gap: 78px;
}

.color2 {
    color: white;
}

#imgInter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 350px;
    margin: 0 auto;
    position: relative;
    left: 390px;
    bottom: 175px;
}

#imgInter img {
    width: 97px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

#download{
    width: 250px;
    height: 45px;
    background: linear-gradient(to right,#AE5B12 38%,#F1BE76 100%);
    border-radius: 15px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(207, 101, 0.5);
    position: relative;
    margin: 0 auto;
    bottom: 70px;
}

#download:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#skillSec{
    background: #150C00;
    padding: 0 5%;
    position: relative;
    height: auto;
    margin: 0;
}